.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/tmp/*
public/build
.env
.env.*
!.env.production.example
tests
docs/migrasi
database/*.sqlite
